<!-- <section>
  <h1>Recent Pages</h1>
  <ul id="recent_pages">
    {% for post in site.pages limit: site.recent_posts %}
      <li class="page">
        <a href="{{ root_url }}{{ page.url }}">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</a>
      </li>
    {% endfor %}
  </ul>
</section>
 -->

<!--  <ul>
  <li><a href="{{ root_url }}/datascience/statistics.html">Statistics</a></li>
  <li><a href="{{ root_url }}/datascience/r.html">R Programming</a></li>
</ul> -->